body{
    background-color: lightgoldenrodyellow;
}
h1{
    color: white;
    margin-left: 20px;
}
div{
    background-color: green;
}
div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.2;
}
div.third{
    opacity:0.4;
}